body {
    display: flex;
    justify-content: center;

}
#main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.form_options{
    /*padding-right: 50px;*/
    font-size: 50px;
}

#cfql_check{
    padding-left: 50px;
}
#asdq_label{
    padding-right: 50px;
}
#button_div{
    padding-top: 60px;
}
#Main_header{
    font-size: 6em;
}
#head_div{
    text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.Quiz_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 50px;
}

.Quiz_table td, .Quiz_table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.Quiz_table td:nth-child(1){
    text-align: left;
}


.Quiz_table tr:nth-child(even){background-color: #f2f2f2;}

.Quiz_table tr:hover {background-color: #ddd;}

.Quiz_table th {
    border: 1px solid #ddd;
    padding:15px;
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    text-align: center;
    /*background-color: #04AA6D;*/
    background-color: #568259;
    color: white;
}
.quiz_div{
    padding: 30px;
    width:1250px
}
.first_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.next_div{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.instructions_pg{
    font-size: 18px;
    line-height: 24px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}
.instruct_button{
    padding-top: 50px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
}
